body {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    height:100vh;
    overflow-y: hidden;
    background-color:hsl(216, 12%, 8%);

}


.container {
    margin: auto;
    padding: 25px;
    border-radius: 25px;
    flex-direction: column;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    width: 300px;
    height: 300px;
    display: flex;
    position: absolute;
    background: linear-gradient(hsl(212, 20%, 17%), hsl(220, 30%, 14%));
    
}

.circle-star{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    position:relative;
    background-color: hsl(215, 19%, 23%);
}

.num-circles {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: hsl(215, 19%, 23%);
}

.rating-nums{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
}


.num-circles:hover {
    transition: all .1s ease;
    background: hsl(215, 18%, 21%);
}

a {
    text-decoration: none;
    color: hsl(217, 12%, 63%);
}


.inter-title{
    color:hsl(0, 0%, 100%);
}

.inter-paragragh{
    color: hsl(217, 12%, 63%);
}

.sub-btn{
    background: #ff5000;
    height: 35px;
    cursor: pointer;
    display: inline-block;
    outline: none;
    font-weight: 500;
    border-radius: 25px;
    padding: 12px 24px;
    margin-top: 25px;
    border: 0;
    color: #fff;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
}


.sub-btn:hover {
    transition: all .1s ease;
    background: #af3a04;
}







